.github/workflows/linux-kernel-nightly.yml  @steven6798
.github/workflows/linux-kernel-pr.yml  @steven6798
.github/workflows/linux-kernel-run.yml  @steven6798
.github/workflows/busybox.yml  @steven6798
.github/dependabot.yml  @steven6798
lib/BranchIsland		@quic-seaswara
lib/Config		@quic-seaswara
lib/Core		@quic-seaswara
lib/Diagnostics		@parth-07
docs/		@quic-shaksuma
lib/Fragment		@quic-seaswara
lib/GarbageCollection 		@quic-areg
lib/Input		@parth-07
lib/LayoutMap		@parth-07
lib/LinkerWrapper		@quic-seaswara
lib/Object 		@quic-areg
lib/Plugin		@parth-07
lib/Readers		@parth-07
lib/Script		@quic-seaswara
lib/ScriptParser		@parth-07
lib/Support 		@quic-areg
lib/SymbolResolver 		@quic-areg
lib/Target		@quic-seaswara
lib/Target/Hexagon   		@quic-seaswara
lib/Target/ARM      		@quic-areg
lib/Target/AArch64		@parth-07
lib/Target/RISCV		@quic-seaswara
lib/Target/X86 		@parth-07
lib/Writers     		@quic-areg